<div class='container'>
  <%= form_for :session, url: sign_in_path do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>
    
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <label class="checkbox">
        <%= f.check_box :remember%>
        Remember me
      </label>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div  class="text-center">
                    <div class="actions">
                      <%= f.submit "Log in", class: "btn btn-primary" %>
                      <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
                    </div>
                 </div>
            </div>
        </div>
    </div>
  <% end %>
</div>