<div class='container'>

    <h1>Edit User</h1>

    <% if @user.errors.any? %>
        <h2><%= @user.errors.count %> error prohibited this user from being saved:</h2>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    <% end %>
    
    <%= form_for @user, url: user_path, method: :put do |f| %>
        <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>
        <div class="field">
            <%= f.label :password, "Password (leave blank if you don't want to change it)" %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>

        <div class="field">
            <%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %>
            <%= f.password_field :current_password %>
        </div>

        <div class="actions">
            <%= f.submit "Update"%>
        </div>

        <% end %>

        <h2>Cancel my account</h2>
        <h3>Unhappy?</h3>
        <%= link_to 'Cancel my account', '/users/destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
</div>