<div class='container'>
    <%= form_for @user, :url => url_for(:controller => 'users', :action => 'create') do |f| %>
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>

        <% end %>
        
        <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        
        <div class="actions">
            <%= f.submit "Signup"%>
        </div>
    <% end %>
</div>