
<div class='container'>
  <h1> Posts </h1>


 <%= form_tag '/posts/search', method: :get do %>
  <div class='field'>
    <%= text_field_tag :search, nil %>
  </div>
<% end %>

<%= link_to 'Create post', new_post_path, class: "btn btn-primary"  %>

  <% if @posts.length > 0 %>
    <% @posts.each do |p| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= p.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= p.user.username %></h6>
          <p class="card-text"><%= p.body %></p>

          <% if p.user_id == current_user.id %>
            <a href="#" class="card-link">Edit</a>
            <%= link_to 'Destroy', p, :method => :delete, data: {:confirm => "Are you sure?" } %>

          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
</div>
