<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>

    <% end %>
    
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label :body %>
        <%= f.text_field :body %>
    </div>

     <div class="field">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
    </div>


    <div class="actions">
        <%= f.submit "Create Post"%>
    </div>
<% end %>