<nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-faded navbar-dark bg-dark">
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "Posts", posts_path,  class: "nav-link" %></li>
        <li><%= link_to current_user.username, edit_user_path(current_user), class: "nav-link" %></li>
        <li><%= link_to "Log out", sign_out_path, method: "delete", class: "nav-link" %></li>
      <% else %>
        <li><%= link_to "Posts", posts_path, class: "nav-link" %></li>
        <li><%= link_to "Log in", root_path, class: "nav-link" %></li>
      <% end %>
    </ul>
</nav>